<html>
    <head>
        <meta author="Michal Zietkowski" />
        <meta charset="UTF-8" />
        <title>Strona tytułowa magazynu</title>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <h1 class="main_header">Magazyn</h1>
            <h1 id="magazyn_nr2" class="main_header">Magazyn nr2</h1>
            <div id="div_saldo" class="container" zmien_rozmiar="XL">
                <h3>Saldo</h3>
            </div>
            <div id="div_przedmioty" class="container">
                <h3>Przedmioty</h3>
                <p>Torebka</p><p>Szalik</p>
            </div>
        </div>
            <form method="POST">
                <input type="text" name="adres_email" value="example@example.com" />
                <label>Wybierz płeć</label>
                <input type="checkbox" name="sex_male"/>
                <input type="checkbox" name="sex_female"/>
                <button type="submit">Wyślij formularz</button>
            </form>
    </body>
</html>